{% extends "_layout.html" %}
{% from "_layout.html" import cta_button %}
{% block title %}You've been added to {{ org_name }}{% endblock %}
{% block preview %}{{ inviter_name }} added you to {{ org_name }} on dembrane.{% endblock %}
{% block heading %}You're in.{% endblock %}
{% block body %}
<p style="font-size:17px; line-height:1.65; margin:0 0 28px; color:#2D2D2C; font-weight:300;">
  {{ inviter_name }} added you to <em style="color:#4169E1; font-style:normal;">{{ org_name }}</em> on dembrane{% if role and role != "member" %} as <em style="color:#4169E1; font-style:normal;">{{ role }}</em>{% endif %}.
</p>
<p style="font-size:15px; line-height:1.65; margin:0 0 28px; color:#2D2D2C; font-weight:300;">
  You can discover and request access to the workspaces your team is using.
</p>
{% endblock %}
{% block cta %}{{ cta_button("Open dembrane", invite_url) }}{% endblock %}
