{% extends "_layout.html" %}
{% block title %}Upgrade request: {{ org_name }} / {{ workspace_name }}{% endblock %}
{% block preview %}{{ requester_name }} asked to upgrade {{ workspace_name }} from {{ current_tier }} to {{ target_tier }}.{% endblock %}
{% block heading %}Upgrade request.{% endblock %}
{% block body %}
<p style="font-size:17px; line-height:1.65; margin:0 0 16px; color:#2D2D2C; font-weight:300;">
  <em style="color:#4169E1; font-style:normal;">{{ requester_name }}</em>{% if requester_email %} ({{ requester_email }}){% endif %} wants to move <em style="color:#4169E1; font-style:normal;">{{ workspace_name }}</em> from <em style="color:#4169E1; font-style:normal;">{{ current_tier }}</em> to <em style="color:#4169E1; font-style:normal;">{{ target_tier }}</em>.
</p>
<p style="font-size:15px; line-height:1.65; margin:0 0 24px; color:#6B6B6A; font-weight:300;">
  Organisation: {{ org_name }} &middot; Workspace ID: <span style="font-family:ui-monospace,SFMono-Regular,Menlo,Consolas,monospace; font-size:13px; color:#2D2D2C;">{{ workspace_id }}</span>
</p>
{% if message %}
<div style="margin:0 0 28px; padding:14px 18px; background-color:#F6F4F1; border-left:2px solid #4169E1;">
  <div style="font-size:13px; color:#6B6B6A; margin-bottom:6px; font-weight:300;">Message</div>
  <div style="white-space:pre-wrap; font-size:15px; line-height:1.6; color:#2D2D2C; font-weight:300;">{{ message }}</div>
</div>
{% endif %}
{% endblock %}
