{% layout 'email-base' %} 

{% block content %}

<h1>Verify your email address</h1>

<p style='padding-bottom: 30px'>
  Thanks for joining dembrane. Click the button below to verify your email and finish setting up your account.
  If you didn't sign up, you can ignore this email.
</p>

<a
  class='button'
  rel='noopener'
  target='_blank'
  href='{{url}}'
  style='
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    padding: 11px 24px;
    border-radius: 8px;
    background: #4169e1;
    border: 1px solid #ffffff;
  '
>
  <!--[if mso]>
    <i style="letter-spacing: 25px; mso-font-width: -100%; mso-text-raise: 30pt"
      >&nbsp;</i
    >
  <![endif]-->
  <span style='mso-text-raise: 15pt'>Verify email</span>
  <!--[if mso]> <i style="letter-spacing: 25px; mso-font-width: -100%">&nbsp;</i> <![endif]-->
</a>

{% endblock %}