@font-face {
	font-family: 'DM Sans Variable';
	src: url('./DMSans-VariableFont.woff2') format('woff2-variations');
	font-weight: 100 1000;
	font-style: normal;
	font-display: swap;
	/* Enable stylistic sets 1-6 and 8 */
	font-feature-settings: 
		'ss01' on,
		'ss02' on,
		'ss03' on,
		'ss04' on,
		'ss05' on,
		'ss06' on,
		'ss08' on;
}

/* Utility class to apply stylistic sets to any DM Sans text */
.dm-sans-stylistic {
	font-feature-settings: 
		'ss01' on,
		'ss02' on,
		'ss03' on,
		'ss04' on,
		'ss05' on,
		'ss06' on,
		'ss08' on;
}
